@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hilang{
    visibility: hidden;
    position: absolute;
}

/* ////////// color style /////////// */
.bg-Biru{
    background-color: #2464AB;
}
/* ////////// color style end //////// */

/* ////////// header /////////////// */

header{
    box-shadow: 0 4px 10px rgba(26, 3, 3, 0.15);
}
/* ////// nav /////////// */
nav {
    height: 60px;
}

nav > div > a{
    color: #232323;
}

nav > div > a:hover{
    border-bottom: #2464AB solid 1px;
    color: #2464AB;
}

nav > div > a:nth-child(3):hover{
    background-color: #3DA5DA;
}
    

/* ///// nav end //////// */