@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  /*Judul selain home = H2
font family = poppins
buttonColor acc = #1AAE9F
buttonColor tolak = #D3455B
responsive = media query max-width*/

  --buttonacc: #1aae9f;
  --buttonrej: #d3455b;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: #2464ab;
  --black: #232323;
  --white: #ffffff;
  --lightblue: #3da5da;
}

body {
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px;
}

.hilang {
  visibility: hidden;
  position: absolute;
}

.flex-basis-half {
  flex-basis: 50%;
}

/* ////////// color style /////////// */
.bg-Abu {
  background-color: #e4e7ea;
}

.bg-Biru {
  background-color: #2464ab;
}

.bg-acc {
  background-color: #1aae9f;
  color: white;
}

.bg-tolak {
  background-color: #d3455b;
  color: white;
}
/* ////////// color style end //////// */

/* ////////// header /////////////// */

header {
  box-shadow: 0 4px 10px rgba(26, 3, 3, 0.15);
  background-color: white;

  position: sticky;
  top: 0;
}
/* ////// nav /////////// */
nav {
  height: 60px;
}

nav > div > a {
  color: #232323;
}

nav > div > a:hover {
  border-bottom: #2464ab solid 1px;
  color: #2464ab;
}

nav > div > a:nth-child(3) {
  background-color: var(--darkblue);
}

nav > div > a:nth-child(3):hover {
  background-color: #3da5da;
}

/* ///// nav end //////// */

/* ///////////////////////////////////////////// */
/* ////////////// campaign html //////////////// */
/* ///////////////////////////////////////////// */

/* /////////// main start //////////////// */
.campaign-page {
  height: 600px;
}

main .btn-buat-campaign:hover {
  background-color: #3da5da;
}
/* //////////// main end ////////////////// */

/* //////////// form /////////////////// */
input {
  border: solid 2px #e4e7ea;
  padding: 2px;
  border-radius: 4px;
  outline-color: #2464ab;
}

textarea {
  height: 100px;
  border: solid 2px #e4e7ea;
  outline-color: #2464ab;
  padding: 2px;
  border-radius: 4px;
}

form .tombol-submit:hover {
  background-color: #3da5da;
}
/* ///////// form end //////// */

/* //////// card start ///////// */
.card {
  height: 200px;
  overflow: hidden;
}

.card .card-image {
  background: url("dummy-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40%;
}

.card .status {
  padding: 4px 8px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
}

.card-detil{
  z-index: -1;
}
/* ///////////////////////////////////////////// */
/* ////////////// home html //////////////// */
/* ///////////////////////////////////////////// */

.btn-darkblue:hover {
  background-color: var(--lightblue);
}

.btn-darkblue {
  padding: 3px 15px;
  background-color: var(--darkblue);
  border-radius: 5px;
}
/* ////////////// home html end //////////////// */

/* ///////////////////////////////////////////// */
/* ////////////// register html //////////////// */
/* ///////////////////////////////////////////// */

.regis .btn-darkblue {
  background-color: var(--darkblue);
  color: var(--white);
}

.image-regis {
  border-radius: 5px;
  overflow: hidden;
}

.btn-lightblue {
  background-color: var(--lightblue);
  color: var(--white);
  border-radius: 5px;
}

/* ////////////// register html end //////////////// */

/* ///// main //////// */

.container-main {
  height: 120px;
}

.konten-filter {
  gap: 15px;
  width: 100%;
}

.item-content {
  width: auto;
  cursor: pointer;
}

.container-list {
  height: 100vh;
}

.title-list {
  height: 90px;
}

.button {
  gap: 10px;
  width: 35%;
}

button {
  border: none;
  color: white;
}

.btn-acc {
  background-color: var(--buttonacc);
}

.btn-rej {
  background-color: var(--buttonrej);
}

.btn-view {
  background-color: rgb(199, 199, 199);
  color: black;
}

.wrapper button {
  width: 100%;
  height: 100%;
}

.card-detil{
    z-index: -1;
}

.detil-item {
  height: 90%;
}

.img-campaign {
  width: 50%;
  height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

